.u-section-1 .u-sheet-1 {
  min-height: 1235px;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat, sans-serif;
  width: 555px;
  margin: 39px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1127px;
  grid-template-rows: repeat(3, auto);
  margin: 48px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 6px));
  min-height: 897px;
  --gap: 12px;
  grid-auto-columns: calc(50% - 6px);
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/2115_2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 279px;
  min-height: 321px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/61c1dad44e3fe10950300b23.jpg.webp');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 279px;
  min-height: 321px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/acma-cesitleri-sevinc-pastanesi.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 279px;
  min-height: 321px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/bayatlamayan-poaaa.webp');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 279px;
  min-height: 321px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/1625929118-simit-tarifi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 279px;
  min-height: 321px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/47701.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 279px;
  min-height: 321px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-23 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-24 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-26 {
  margin: 32px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 12px;
    min-height: 748px;
  }

  .u-section-1 .u-image-1 {
    background-size: cover, cover;
  }

  .u-section-1 .u-group-1 {
    background-size: auto;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    background-size: auto;
    height: auto;
  }

  .u-section-1 .u-image-3 {
    background-size: cover, cover;
  }

  .u-section-1 .u-group-3 {
    background-size: auto;
    height: auto;
  }

  .u-section-1 .u-image-4 {
    background-size: cover, cover;
  }

  .u-section-1 .u-group-4 {
    background-size: auto;
    height: auto;
  }

  .u-section-1 .u-image-5 {
    background-size: cover, cover;
  }

  .u-section-1 .u-group-5 {
    background-size: auto;
    height: auto;
  }

  .u-section-1 .u-image-6 {
    background-size: cover, cover;
  }

  .u-section-1 .u-group-6 {
    background-size: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-1 {
    background-position: 73.87% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    background-position: 88.18% 50%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
}