.u-section-1 .u-sheet-1 {
  min-height: 1913px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  width: 374px;
  margin: 47px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 6px));
  min-height: 1421px;
  --gap: 12px;
  grid-auto-columns: calc(50% - 6px);
  height: 1465px;
  width: 1140px;
  margin: 24px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/koltepsi.jpg');
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/koltepsi.jpg');
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/sutepsi.jpg');
  background-position: 50% 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/kiymalisutepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-15 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/ozelsutepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/bosnaktepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/bosnaktepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-27 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/ceviztepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-group-8 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/evtepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-group-9 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-35 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/fistiklitepsi.jpg');
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-group-10 {
  width: 279px;
  min-height: 297px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: 0 17px;
}

.u-section-1 .u-text-39 {
  font-size: 0.875rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 39px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-42 {
  margin: 293px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: NaNpx;
    width: 940px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-26 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-30 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-text-34 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-text-38 {
    margin-top: -77px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3234px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
    width: 720px;
  }

  .u-section-1 .u-text-42 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3279px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-1 .u-repeater-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-26 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-30 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-34 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-38 {
    margin-top: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }
}